<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <title>Section:3</title>
    <link rel="stylesheet" href="../styles/section3.css">
  </head>
  <body>
    <div class="container">
    <div class="left-side">
      <!-- <img src="../assets/logo1.jpg" alt="logo" class="logo"> -->
      <img src="../assets/tractor.jpeg" alt="tractor" class="tractor">
      

    </div>
    <div class="right-side">
      <h3>Welcome to Machinery's owner</h3>
      <p>Please enter your details.</p>
      <form action="./thankyou.html" method="post" class>
            <label for="name" >Full Name</label><br>
            <input type="text" class="form" id="name" name="name" placeholder="Enter your name" required >
            <br><br>

            <label for="nic">NIC Number</label><br>
            <input type="text" class="form"id="nic" name="nic" placeholder="Enter your NIC Number" required>
            <br><br>

            <label for="phone">Telephone Number</label><br>
            <input type="tel" class="form" id="phone" name="number" placeholder="Enter your phone Number"required>
            <br><br>

            <label for="Address">Address</label><br>
            <input type="text" class="form" id="Address" name="Address" placeholder="Enter your Address" required>
            <br><br>     
            <label for="vehicle">Choose Your Vehicle</label><br>
            <select  id="vehicle" class="form-1" name="vehicle" >
                <option value="">Choose Your Vehicle</option>
                <option value="tractor">Tractor</option>
                <option value="truck">Truck</option>
                <option value="forage-harvesters">Forage Harvesters</option>
                <option value="others">Others</option>
            </select>
            <br><br>

            <label for="email">Email</label><br>
            <input type="email" class="form" id="email" placeholder="Enter your Email" name="email" required>
            <br><br>

            <label for="password">Password</label><br>
            <input type="password"class="form" id="password" placeholder="Enter your Password" name="password" required>
            <br><br>

            <label for="confirm">Confirm Password:</label><br>
            <input type="password" class="form" id="confirm" name="confirm" placeholder="Confirm password"required>
            <br><br>
        
            <input type="submit" value="Signup"class="signup">
            <br>

            <span class="signin" >Already have an account?
              <a href="#">Sign in!</a></span>


                  
      
    
    
   

  </form>
</div>
</div>
  </body>
</html>