<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <title>Section:2</title>
    <link rel="stylesheet" href="../styles/section2.css">
  </head>
  <body>
    <div class="container">
        <div class="leftside">
            <h1 class="heading">Select Your Role!</h1>
            <div class="btns">
            <button type="button" class="farmer-btn"><img src="../assets/farm.jpg"alt="farmer" class="farm"><link href="https://accounts.google.com/signin">Sign as a Farmer</link></button>
            <button type="button" class="owner-btn"><img src="../assets/trac.png"alt="tractor" class="tract"><link href="https://accounts.google.com/signin">Sign as a Machine Owner</link></button>
            </div>   
        </div>
        <div class="rightside">
          <h1 class="heading-1">Welcome Back!</h1>
          <div class="para">
          <p>To keep connecting with us.Please login with your personal info.</p>
          <button type="submit" class="submit-btn">Login</button>
          </div>
        </div>



    </div>
  </body>
</html>